{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block body %}
<body class="hold-transition sidebar-mini dark-mode">
{% endblock %}

{% block content %}
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Настройка приветствий</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Редактировать</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form action="" method="post" name="welcome">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="selectWelcomeChannel">Выберите канал для приветствий.</label>
                                        <select name="welcome_channel" class="custom-select form-control-border" id="selectWelcomeChannel">
                                            {% for channel in channels %}
                                                {% if channel == data[0] %}
                                                <option selected value="{{ channel }}">#{{ channel }}</option>
                                                {% else %}
                                                <option value="{{ channel }}">#{{ channel }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="textWelcomeChannel">Текстовое приверствие</label>
                                        <input type="text" name="welcome_message" class="form-control" id="textWelcomeChannel" value="{{ message }}">
                                        <small>{user} - Имя пользователя через @ | {server} - название сервера</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="textImgWelcomeChannel">Текст на изображении</label>
                                        <input type="text" name="welcome_img_text" class="form-control" id="textImgWelcomeChannel" value="{{ img_text }}">
                                        <small>{user_name} - Имя пользователя до # | {user_dcrm} - id пользователя после #</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectImgFont">Выберите шрифт для карточки приветствия.</label>
                                        <select name="welcome_img_font" class="custom-select form-control-border" id="selectImgFont">
                                            {% for font in img_fonts %}
                                                {% if font == data[3] %}
                                                <option selected value="{{ font }}">{{ font }}</option>
                                                {% else %}
                                                <option value="{{ font }}">{{ font }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectImgGB">Выберите фон для карточки приветствия.</label>
                                        <select name="welcome_img_bg" class="custom-select form-control-border" id="selectImgGB">
                                            {% for bg in welcome_bgs %}
                                                {% if bg == data[4] %}
                                                <option selected value="{{ bg }}">{{ bg }}</option>
                                                {% else %}
                                                <option value="{{ bg }}">{{ bg }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row">
                                        {% for role in autoroles %}
                                            {% if role['role_name'] in active_roles %}
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                        <input type="checkbox" checked class="custom-control-input" id="{{ role['role_id'] }}" name="{{ role['role_id'] }}" value="{{ role['role_name'] }}">
                                                        <label class="custom-control-label" for="{{ role['role_id'] }}">{{ role['role_name'] }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                        <input type="checkbox" class="custom-control-input" id="{{ role['role_id'] }}" name="{{ role['role_id'] }}" value="{{ role['role_name'] }}">
                                                        <label class="custom-control-label" for="{{ role['role_id'] }}">{{ role['role_name'] }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Обновить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
{% endblock %}
